/* styles.css */

* {
	font-family: Arial;

	body{
		background-color: #e6ce55;
		font-family: Helvetica, Arial, sans-serif;
	}

	h1{
		color:black;
		font-size: 48px;
		text-align: center;
	}

	.backgroundImage {
		background-image: url (../img/wrench.png);
		width: 400px;
		height: 400px;
		margin: 64px auto;
	}
	.backgroundImage:hover {
		background-image: url(../img/clock.png);
		cursor: crosshair;
	}
}
